@import "/less/twitter-bootstrap-1.4.0/bootstrap.less";

@rascal-red: #C6433C;
@rascal-red-light: @rascal-red + #222;
@rascal-red-extra-light: @rascal-red + #444;
@rascal-red-super-light: #FFC7C0;
@rascal-dark: @rascal-red - #222;
@rascal-gray: #414243;
@rascal-white: #E7E8E9;
@rascal-complement: #51A8CB;
@rascal-forum-bg: #CCCCCC;
@rascal-dark-blue: #475373;

footer {
    border: none;
}

.topbar .fill, footer, footer .fill, pre {
    background: @rascal-gray;
    color: @rascal-white;
}

@white: @rascal-white;
@linkColor: @rascal-red;

pre, code {
    font-size: 16px;
}

pre {
    border-radius: 10px;
}

.pygments_monokai {
    background: #F8F8F2;
}

/* Enlarge the typography */
@basefont: 16px;
@baseline: 22px;